html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  margin: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
}

body {
/*  padding: 20px;*/
	padding: 0;
	/*background-color: #5f5f5f;
	background-image: url(images/gobbler.png);
	background-position: top left;
	background-position: center right;
	background-repeat: repeat;
	background-repeat: repeat-y;*/
	background: #5f5f5f url(images/gobbler.png) top left repeat;
	font-family: Helvetica, Arial, "Times New Roman", sans-serif;
}
h1 {
  margin: 10px 0 15px 0;
	color: #ffffff;
	text-align: center;
}
h2 {
  /*padding-top: 6px;
  padding-right: 3px;
  padding-bottom: 0;
  padding-left: 0;*/
  /*padding: 6px 3px 0 0;*/
  /*padding: 0;*/
  /*padding: 10px 0 10px 0;*/
  /*padding: 10px 0;*/
  /*border-width: 6px;
  border-style: solid;
  border-color: black;*/
  /*border: 6px solid black;*/
  /*border-bottom: 6px solid black;*/
  /*margin-top: 6px;
  margin-right: 0;
  margin-bottom: 6px;
  margin-left: 0;*/
  /*margin: 6px 0 6px 0;*/
  /*margin: 6px 0;*/
  /*margin: 6px 0;*/
  /*margin: 20px 0;*/
  /*margin: 4px 0;*/
  margin: 10px 0 20px 0;
	text-align: center;
  font-size: 26px;
  /*font-weight: 900;*/
  font-weight: bold;
  /*font-weight: lighter;*/
  font-style: italic;
  text-transform: uppercase;
}
h3 {
  border-bottom: 1px solid #CCCCCC;
  margin: 15px 0;
  padding-bottom: 3px;
}
ul {
  padding: 0 0 50px;
}
ol {
  padding: 0 0 50px;
}
.header {
	background-color: #b56663;
	padding: 10px;
}
.header a {
	color: #ffffff;
}
.header img {
	display: block;
	margin: 0 auto 0 auto;
}
.main-content {
	padding: 20px;
	border: 1px solid #dddddd;
	/*margin: 30px auto 0 auto;*/
	margin: 30px;
	/*width: 500px;*/
	background: #ffffff url(images/crossword.png) top left repeat;
}
.main-content  p {
  line-height: 26px;
}
.nav {
  padding-left: 0;
	text-align: center;
}
.nav a {
  color: #0000af;
  text-decoration: none;
}
.nav li {
  display: inline;
}
.recipes {
  list-style-type: none;
  padding: 0;
}

.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
	background: #ffffff url(images/li-bg.png) top left repeat;
}

.recipes h3 {
	border-bottom: 0;
}

.recipes a {
	color: #7facaa;
	text-decoration: none;
}
.recipes img {
	float: left;
	padding-right: 10px;
}
.photos {
	list-style-type: none;
	padding: 0;
}
.photos li {
	display: inline;;
	padding-left: 11px;
}
.featured-image {
	width: 630px;
	height: 246px;
	background: #ffffff url(images/cake1.png) top left repeat;
}
.featured-image h3 {
	margin: 0;
	background-color: #333333;
	color: #ffffff;
	padding: 5px 0 5px 15px;
	text-transform: uppercase;
}
.footer p {
  color: #aaaaaa;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
}